---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const title = '关于我';
const description = '这里是LeclercMo的个人介绍页面。';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<h1>关于我</h1>
			<p>
				你好，欢迎来到我的博客。这里会记录我的骑行经历，技术学习，以及一些值得长期沉淀下来的内容。
			</p>
			<p>
				从高考结束开始踩脚踏车，目前还是菜腿一个。如果你也在广州想一起骑车可以联系我的邮箱：leclercmo@qq.com。
			</p>
		</main>
		<Footer />
	</body>
</html>
