---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} LeclercMo. All rights reserved.</p>
	<p>Powered by Astro and Markdown.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	p {
		margin: 0.35rem 0;
	}
</style>
